/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: sans-serif;
  font-weight: 400;
  src: local('Montserrat'), local('Montserrat-Regular'), url(https://fonts.googleapis.com/css?family=Montserrat);
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: sans-serif;
  font-weight: 400;
  src: local('Montserrat'), local('Montserrat-Regular'), url(https://fonts.googleapis.com/css?family=Montserrat);
}

<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat');
</style> 